<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Shop</title>
</head>
<body>
    E-Shop Management 
     <div class="az-signin-footer">

        <p>
             {% if request.user.is_authenticated %}
                <span>{{request.user.email }} </span>
                <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
             {% else %}
            <a href="{% url 'login' %}">Sign In </a> <a href="{% url 'register' %}">Sign Up</a>
            {% endif %}
        </p>
    </div> 
 </li>
</body>
</html>